# macOS
.DS_Store
**/.DS_Store

# Build directories
build/
obj/

# Compiled object and dependency files
*.o
*.obj
*.d

# Compiled binaries
webserv
./webserv
*.out
*.exe

# Debug and coverage artifacts
*.dSYM/
*.gcda
*.gcno
*.gcov

# VSCode files
.vscode/
